<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.pinplus</string>
	<key>connections</key>
	<dict>
		<key>03D48D68-93A6-49C2-B1BD-B8BF3DDE698F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B064314-76EC-4BF6-B361-A58A329A9C66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E0D7D4C-CE5C-4E87-846B-054F185D32D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EED64F19-BE23-4767-8EEB-AB7DA5278BFC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B67AFF0-0412-4E9B-88CE-ADF345434F52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F415838-BBDD-460D-8389-C5292566442A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>312A5A83-445F-49A9-91E3-5E65184C33B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>348262A6-0298-49B4-A582-AF48C527E471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>348262A6-0298-49B4-A582-AF48C527E471</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD770517-8DE4-4374-AF73-7186420C0978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51173530-985F-468F-90DC-B37CC651F01A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63BFE2ED-8406-43CD-8D9E-B92207F8F738</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>700D9E72-F8D4-4DC2-8A5E-E78DD2A72A7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E0D7D4C-CE5C-4E87-846B-054F185D32D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FB43A68-C343-4F70-9C00-537C821140A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63BFE2ED-8406-43CD-8D9E-B92207F8F738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0428362E-5C9C-4EB0-B5B2-470ABC9845E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EED64F19-BE23-4767-8EEB-AB7DA5278BFC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F415838-BBDD-460D-8389-C5292566442A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5A8BFFAE-6BF4-46B6-A1E5-B7E1069ABB07</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B2D7299-0030-4015-B21A-A88AEF72B12A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>640D4BEC-29E1-4562-ABB4-289B61C5F44C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03D48D68-93A6-49C2-B1BD-B8BF3DDE698F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>78844A0F-A50E-4945-B008-118FFED81DC1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51173530-985F-468F-90DC-B37CC651F01A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F572CB2A-7A72-4D91-9BCB-D6D37C3FEE2C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E38BE1A6-B024-4637-9693-8AE05B8600CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C9123165-8CFC-491E-AEE5-40C75DC58D3F</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>965BA49B-7AC1-43F3-8602-1F02FCC74695</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3D0CCE04-E56F-48DE-906A-F83FD8C309AB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DC58A3C-6774-4B9F-BC7D-0891C9A648F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96E1CC1B-3F76-4961-9E26-5B3D2BD1D122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>965BA49B-7AC1-43F3-8602-1F02FCC74695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D38647F8-612B-4C9F-BE63-8F4B3D60EB74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96E1CC1B-3F76-4961-9E26-5B3D2BD1D122</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD770517-8DE4-4374-AF73-7186420C0978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD770517-8DE4-4374-AF73-7186420C0978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>63BFE2ED-8406-43CD-8D9E-B92207F8F738</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A47E38E8-87FB-42B7-A966-4CFC5B0798FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96E1CC1B-3F76-4961-9E26-5B3D2BD1D122</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBA7D5B8-BDF1-4669-B928-461708E18DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F415838-BBDD-460D-8389-C5292566442A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D38647F8-612B-4C9F-BE63-8F4B3D60EB74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3D96CA77-D858-4A9D-88A1-96F3EA66673A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD770517-8DE4-4374-AF73-7186420C0978</key>
		<array/>
		<key>E38BE1A6-B024-4637-9693-8AE05B8600CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63BFE2ED-8406-43CD-8D9E-B92207F8F738</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1B064314-76EC-4BF6-B361-A58A329A9C66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E3D8770A-3517-4F4F-854A-7E88C2FA4E37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD770517-8DE4-4374-AF73-7186420C0978</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF339515-CFD8-47BF-B208-FF9DCA32A2C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3D8770A-3517-4F4F-854A-7E88C2FA4E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFCEA4B6-8BAA-4509-AD10-EDA3CF3DF3EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA9C9F80-EFDB-4A12-AA7A-DC5D0F76E557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA7D5B8-BDF1-4669-B928-461708E18DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Interact with your Pinboard bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pin Plus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

ENV['force_update'] == "true" ? fetch_bookmarks(true) : fetch_bookmarks</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3D8770A-3517-4F4F-854A-7E88C2FA4E37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>fetch_bookmarks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>EF339515-CFD8-47BF-B208-FF9DCA32A2C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run_bookmarklet.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96E1CC1B-3F76-4961-9E26-5B3D2BD1D122</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:add_new_keyword}</string>
				<key>subtext</key>
				<string>Call a GUI to add a bookmark</string>
				<key>text</key>
				<string>Add Bookmark</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A47E38E8-87FB-42B7-A966-4CFC5B0798FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Checks
if [[ -z "${alfred_workflow_bundleid}" ]]; then
  echo 'Workflow is missing bundle identifier!' &gt;&amp;2
  exit 1
fi

# Plist contents
read -r -d '' plist_contents &lt;&lt;ENDPLIST
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"&gt;
&lt;plist version="1.0"&gt;
&lt;dict&gt;
    &lt;key&gt;Label&lt;/key&gt;
    &lt;string&gt;${alfred_workflow_bundleid}&lt;/string&gt;
    &lt;key&gt;ProgramArguments&lt;/key&gt;
    &lt;array&gt;
        &lt;string&gt;/usr/bin/osascript&lt;/string&gt;
        &lt;string&gt;-l&lt;/string&gt;
        &lt;string&gt;JavaScript&lt;/string&gt;
        &lt;string&gt;-e&lt;/string&gt;
        &lt;string&gt;
          function run(argv) {
            try {
              const alfred = Application(&amp;quot;com.runningwithcrayons.Alfred&amp;quot;)
              if (alfred.running()) alfred.runTrigger(argv[1], { inWorkflow: argv[0] })
            } catch {
              const fileManager = $.NSFileManager.defaultManager
              const plistFile = fileManager.homeDirectoryForCurrentUser.path.js + &amp;quot;/Library/LaunchAgents/&amp;quot; + argv[0] + &amp;quot;.plist&amp;quot;
              fileManager.removeItemAtPathError(plistFile, undefined)
            }
          }
        &lt;/string&gt;
        &lt;string&gt;${alfred_workflow_bundleid}&lt;/string&gt;
        &lt;string&gt;fetch_bookmarks&lt;/string&gt;
    &lt;/array&gt;
    &lt;key&gt;RunAtLoad&lt;/key&gt;
    &lt;true/&gt;
    &lt;key&gt;StartCalendarInterval&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;Minute&lt;/key&gt;
        &lt;integer&gt;0&lt;/integer&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
&lt;/plist&gt;
ENDPLIST

# Main
readonly launchagents_dir="${HOME}/Library/LaunchAgents"
readonly plist_file="${launchagents_dir}/${alfred_workflow_bundleid}.plist"

if [[ "${auto_refresh}" -eq 0 ]]; then
  # Exit early if plist does not exist
  [[ -f "${plist_file}" ]] || exit 0

  # Uninstall agent
  launchctl bootout "gui/$(id -u "${USER}")" "${plist_file}"
  rm "${plist_file}"
else
  # Exit early if plist exists
  [[ -f "${plist_file}" ]] &amp;&amp; exit 0

  # Install agent
  mkdir -p "${launchagents_dir}"
  echo "${plist_contents}" &gt; "${plist_file}"
  launchctl bootstrap "gui/$(id -u "${USER}")" "${plist_file}"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD770517-8DE4-4374-AF73-7186420C0978</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8DC58A3C-6774-4B9F-BC7D-0891C9A648F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

add_unread</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>348262A6-0298-49B4-A582-AF48C527E471</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>312A5A83-445F-49A9-91E3-5E65184C33B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

print JSON.parse(File.read(Unread_bookmarks_json))['items'].map { |item| item['arg'
] }.sample</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EFCEA4B6-8BAA-4509-AD10-EDA3CF3DF3EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_unread</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:show_all_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching bookmarks…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

show_bookmarks(All_bookmarks_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show All bookmarks</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B67AFF0-0412-4E9B-88CE-ADF345434F52</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_url</string>
						<key>outputlabel</key>
						<string>Open URL</string>
						<key>uid</key>
						<string>5A8BFFAE-6BF4-46B6-A1E5-B7E1069ABB07</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>view_tags</string>
						<key>outputlabel</key>
						<string>View Tags</string>
						<key>uid</key>
						<string>5B2D7299-0030-4015-B21A-A88AEF72B12A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>view_description</string>
						<key>outputlabel</key>
						<string>View Description</string>
						<key>uid</key>
						<string>640D4BEC-29E1-4562-ABB4-289B61C5F44C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pinboard_site</string>
						<key>outputlabel</key>
						<string>Open in Pinboard</string>
						<key>uid</key>
						<string>78844A0F-A50E-4945-B008-118FFED81DC1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy_url</string>
						<key>outputlabel</key>
						<string>Copy URL</string>
						<key>uid</key>
						<string>F572CB2A-7A72-4D91-9BCB-D6D37C3FEE2C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>download_video</string>
						<key>outputlabel</key>
						<string>Download Video</string>
						<key>uid</key>
						<string>C9123165-8CFC-491E-AEE5-40C75DC58D3F</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fetch_bookmarks</string>
						<key>outputlabel</key>
						<string>Fetch Bookmarks</string>
						<key>uid</key>
						<string>3D0CCE04-E56F-48DE-906A-F83FD8C309AB</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6F415838-BBDD-460D-8389-C5292566442A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

search_in_website(ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>03D48D68-93A6-49C2-B1BD-B8BF3DDE698F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

action_unread(ENV['unread_action'], ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0428362E-5C9C-4EB0-B5B2-470ABC9845E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:is_unread}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string>MISSING_DOWNLOAD_MEDIA</string>
						<key>outputlabel</key>
						<string>Unread Bookmark</string>
						<key>uid</key>
						<string>EED64F19-BE23-4767-8EEB-AB7DA5278BFC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>63BFE2ED-8406-43CD-8D9E-B92207F8F738</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:show_unread_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching bookmarks…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

show_bookmarks(Unread_bookmarks_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show Unread Bookmarks</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FA9C9F80-EFDB-4A12-AA7A-DC5D0F76E557</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_unread</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BBA7D5B8-BDF1-4669-B928-461708E18DDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>51173530-985F-468F-90DC-B37CC651F01A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>700D9E72-F8D4-4DC2-8A5E-E78DD2A72A7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://alfred.app/workflows/vitor/download-media/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7FB43A68-C343-4F70-9C00-537C821140A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function status(download_media_installed, download_url) {
  return JSON.stringify({ alfredworkflow: {
    variables: { download_media_installed: download_media_installed },
    arg: download_url
  }})
}

function run(argv) {
  const url = argv[0]

  try {
    Application("com.runningwithcrayons.Alfred").runTrigger("download_video", { inWorkflow: "com.vitorgalvao.alfred.downloadmedia", withArgument: url })
    return status(true, url)
  } catch {
    return status(false, url)
  }
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E38BE1A6-B024-4637-9693-8AE05B8600CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Install From the Alfred Gallery</string>
				<key>button2</key>
				<string>Cancel</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>The Download Media workflow is required to download video</string>
				<key>title</key>
				<string>Download Media Not Installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>5E0D7D4C-CE5C-4E87-846B-054F185D32D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:download_media_installed}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Missing Download Media</string>
						<key>uid</key>
						<string>EED64F19-BE23-4767-8EEB-AB7DA5278BFC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1B064314-76EC-4BF6-B361-A58A329A9C66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>fetch_bookmarks</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>3D96CA77-D858-4A9D-88A1-96F3EA66673A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>965BA49B-7AC1-43F3-8602-1F02FCC74695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>force_update</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D38647F8-612B-4C9F-BE63-8F4B3D60EB74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Add a new bookmark to your [Pinboard](https://pinboard.in) account via the `pa` keyword.

![Add bookmark](images/about/pa.png)

![Browser GUI to add bookmark](images/about/gui.png)

Search all bookmarks via the `pin` keyword or only the unread ones with `pun`. Actioning an unread bookmark can archive or delete it if the option is set in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Showing bookmarks matching alfr](images/about/pin.png)

* &lt;kbd&gt;↩&lt;/kbd&gt;: Open URL.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Copy URL.
* &lt;kbd&gt;⌥&lt;/kbd&gt;: View Tags.
* &lt;kbd&gt;⌃&lt;/kbd&gt;: View Description.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;: Open in Pinboard’s Website.

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as a shortcut to add bookmarks, add the current browser tab as an unread bookmark, or open a random unread bookmark.

Bookmarks are automatically fetched if the local data is old, but an update can be forced with &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt;.</string>
	<key>uidata</key>
	<dict>
		<key>03D48D68-93A6-49C2-B1BD-B8BF3DDE698F</key>
		<dict>
			<key>note</key>
			<string>Get URL to search user’s account</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>0428362E-5C9C-4EB0-B5B2-470ABC9845E7</key>
		<dict>
			<key>note</key>
			<string>Run unread action</string>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>1B064314-76EC-4BF6-B361-A58A329A9C66</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>1145</real>
		</dict>
		<key>2B67AFF0-0412-4E9B-88CE-ADF345434F52</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>312A5A83-445F-49A9-91E3-5E65184C33B9</key>
		<dict>
			<key>note</key>
			<string>Add frontmost tab as unread bookmark</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>348262A6-0298-49B4-A582-AF48C527E471</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>3D96CA77-D858-4A9D-88A1-96F3EA66673A</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>1285</real>
		</dict>
		<key>51173530-985F-468F-90DC-B37CC651F01A</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>975</real>
		</dict>
		<key>5E0D7D4C-CE5C-4E87-846B-054F185D32D7</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>1135</real>
		</dict>
		<key>63BFE2ED-8406-43CD-8D9E-B92207F8F738</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>840</real>
		</dict>
		<key>6F415838-BBDD-460D-8389-C5292566442A</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>700D9E72-F8D4-4DC2-8A5E-E78DD2A72A7A</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>1005</real>
		</dict>
		<key>7FB43A68-C343-4F70-9C00-537C821140A2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>1115</real>
		</dict>
		<key>8DC58A3C-6774-4B9F-BC7D-0891C9A648F4</key>
		<dict>
			<key>note</key>
			<string>Add bookmark</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>965BA49B-7AC1-43F3-8602-1F02FCC74695</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>96E1CC1B-3F76-4961-9E26-5B3D2BD1D122</key>
		<dict>
			<key>note</key>
			<string>Open GUI to add bookmark</string>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>A47E38E8-87FB-42B7-A966-4CFC5B0798FF</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>BBA7D5B8-BDF1-4669-B928-461708E18DDF</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>905</real>
		</dict>
		<key>D38647F8-612B-4C9F-BE63-8F4B3D60EB74</key>
		<dict>
			<key>note</key>
			<string>Force update</string>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>1315</real>
		</dict>
		<key>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>DD770517-8DE4-4374-AF73-7186420C0978</key>
		<dict>
			<key>note</key>
			<string>launchd agent</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>E38BE1A6-B024-4637-9693-8AE05B8600CD</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Download video with Download Media</string>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>1115</real>
		</dict>
		<key>E3D8770A-3517-4F4F-854A-7E88C2FA4E37</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>EF339515-CFD8-47BF-B208-FF9DCA32A2C1</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>EFCEA4B6-8BAA-4509-AD10-EDA3CF3DF3EB</key>
		<dict>
			<key>note</key>
			<string>Get random unread bookmark</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>FA9C9F80-EFDB-4A12-AA7A-DC5D0F76E557</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>875</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pa</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Add New Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>add_new_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pin</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Show All Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>show_all_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pun</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords to interact with bookmarks.</string>
			<key>label</key>
			<string>Show Unread Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>show_unread_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>open_url</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
					<array>
						<string>Download Video</string>
						<string>download_video</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_none</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>copy_url</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
					<array>
						<string>Download Video</string>
						<string>download_video</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌘</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_cmd</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>view_tags</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
					<array>
						<string>Download Video</string>
						<string>download_video</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌥</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_alt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>view_description</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
					<array>
						<string>Download Video</string>
						<string>download_video</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌃</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_ctrl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pinboard_site</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
					<array>
						<string>Download Video</string>
						<string>download_video</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Actions to perform when pressing modifier keys.
Changes come into effect on next cache update.</string>
			<key>label</key>
			<string>⇧</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_shift</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nothing</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Nothing</string>
						<string>nothing</string>
					</array>
					<array>
						<string>Archive</string>
						<string>archive</string>
					</array>
					<array>
						<string>Delete</string>
						<string>delete</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Extra task to perform when actioning an unread bookmark.</string>
			<key>label</key>
			<string>Unread Action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>unread_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Uncheck to sort by oldest</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Sort Unread by Newest</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sort_unread_newest</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Automatically redownload bookmarks on a schedule</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Periodic Refresh</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>auto_refresh</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get it at https://pinboard.in/settings/password</string>
			<key>label</key>
			<string>API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.3</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/pin-plus-workflow/</string>
</dict>
</plist>
