<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.pinplus</string>
	<key>connections</key>
	<dict>
		<key>2B67AFF0-0412-4E9B-88CE-ADF345434F52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F415838-BBDD-460D-8389-C5292566442A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>312A5A83-445F-49A9-91E3-5E65184C33B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9066848D-DBFB-4B04-954A-D0F998360A39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>348262A6-0298-49B4-A582-AF48C527E471</key>
		<array/>
		<key>4968ACBA-1F88-4B24-ADC5-458E87E049A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9768284A-74B9-40F3-95B1-F30F25B273CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51173530-985F-468F-90DC-B37CC651F01A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63BFE2ED-8406-43CD-8D9E-B92207F8F738</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>700D9E72-F8D4-4DC2-8A5E-E78DD2A72A7A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63BFE2ED-8406-43CD-8D9E-B92207F8F738</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0428362E-5C9C-4EB0-B5B2-470ABC9845E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>EED64F19-BE23-4767-8EEB-AB7DA5278BFC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6F415838-BBDD-460D-8389-C5292566442A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5A8BFFAE-6BF4-46B6-A1E5-B7E1069ABB07</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5B2D7299-0030-4015-B21A-A88AEF72B12A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>640D4BEC-29E1-4562-ABB4-289B61C5F44C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>51173530-985F-468F-90DC-B37CC651F01A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F572CB2A-7A72-4D91-9BCB-D6D37C3FEE2C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>965BA49B-7AC1-43F3-8602-1F02FCC74695</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3D0CCE04-E56F-48DE-906A-F83FD8C309AB</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E9EFBA2A-E725-4B63-8657-5389E9364274</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>78844A0F-A50E-4945-B008-118FFED81DC1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>743EE796-A6F9-4AFF-BF52-0995A72025D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4968ACBA-1F88-4B24-ADC5-458E87E049A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>746C53B7-21CF-4B6D-8557-54523EA81DF4</key>
		<array/>
		<key>8DC58A3C-6774-4B9F-BC7D-0891C9A648F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>746C53B7-21CF-4B6D-8557-54523EA81DF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9066848D-DBFB-4B04-954A-D0F998360A39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF585652-D2BD-4906-BEB9-0AC2A215899A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>965BA49B-7AC1-43F3-8602-1F02FCC74695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0C612E1-159B-4476-8920-0DCF4A15DAD8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9768284A-74B9-40F3-95B1-F30F25B273CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17571892-E517-4940-8F74-0CAD55A5938D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63BFE2ED-8406-43CD-8D9E-B92207F8F738</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A47E38E8-87FB-42B7-A966-4CFC5B0798FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>746C53B7-21CF-4B6D-8557-54523EA81DF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBA7D5B8-BDF1-4669-B928-461708E18DDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F415838-BBDD-460D-8389-C5292566442A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF585652-D2BD-4906-BEB9-0AC2A215899A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>348262A6-0298-49B4-A582-AF48C527E471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0C612E1-159B-4476-8920-0DCF4A15DAD8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DF82435-3D0E-43E4-BF16-87752A30CB06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E9EFBA2A-E725-4B63-8657-5389E9364274</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>743EE796-A6F9-4AFF-BF52-0995A72025D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EFCEA4B6-8BAA-4509-AD10-EDA3CF3DF3EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA9C9F80-EFDB-4A12-AA7A-DC5D0F76E557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA7D5B8-BDF1-4669-B928-461708E18DDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Interact with your Pinboard bookmarks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pin Plus</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:add_new_keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Call a GUI to add a bookmark</string>
				<key>text</key>
				<string>Add Bookmark</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A47E38E8-87FB-42B7-A966-4CFC5B0798FF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>javascript_code</key>
					<string>q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};p=document.title;void(open('https://pinboard.in/add?showtags=yes&amp;url='+encodeURIComponent(q)+'&amp;description='+encodeURIComponent(d)+'&amp;title='+encodeURIComponent(p),'Pinboard','toolbar=no,scrollbars=yes,width=750,height=700'));</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current.run.javascript</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>746C53B7-21CF-4B6D-8557-54523EA81DF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8DC58A3C-6774-4B9F-BC7D-0891C9A648F4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

add_unread(ARGV[0], ARGV[1])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>348262A6-0298-49B4-A582-AF48C527E471</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>312A5A83-445F-49A9-91E3-5E65184C33B9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>out_format</key>
					<string>url_tab_title</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9066848D-DBFB-4B04-954A-D0F998360A39</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>BF585652-D2BD-4906-BEB9-0AC2A215899A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

print JSON.parse(File.read(Unread_bookmarks_json))['items'].map { |item| item['arg'
] }.sample</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EFCEA4B6-8BAA-4509-AD10-EDA3CF3DF3EB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_unread</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:show_all_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching bookmarks…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

show_bookmarks(All_bookmarks_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show All Bookmarks</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>all_bookmarks</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2B67AFF0-0412-4E9B-88CE-ADF345434F52</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open_url</string>
						<key>outputlabel</key>
						<string>Open URL</string>
						<key>uid</key>
						<string>5A8BFFAE-6BF4-46B6-A1E5-B7E1069ABB07</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>view_tags</string>
						<key>outputlabel</key>
						<string>View Tags</string>
						<key>uid</key>
						<string>5B2D7299-0030-4015-B21A-A88AEF72B12A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>view_description</string>
						<key>outputlabel</key>
						<string>View Description</string>
						<key>uid</key>
						<string>640D4BEC-29E1-4562-ABB4-289B61C5F44C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>copy_url</string>
						<key>outputlabel</key>
						<string>Copy URL</string>
						<key>uid</key>
						<string>F572CB2A-7A72-4D91-9BCB-D6D37C3FEE2C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fetch_bookmarks</string>
						<key>outputlabel</key>
						<string>Fetch Bookmarks</string>
						<key>uid</key>
						<string>3D0CCE04-E56F-48DE-906A-F83FD8C309AB</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pinboard_site</string>
						<key>outputlabel</key>
						<string>Open in Pinboard</string>
						<key>uid</key>
						<string>78844A0F-A50E-4945-B008-118FFED81DC1</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6F415838-BBDD-460D-8389-C5292566442A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>51173530-985F-468F-90DC-B37CC651F01A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

action_unread(ENV['unread_action'], ARGV[0])</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0428362E-5C9C-4EB0-B5B2-470ABC9845E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:is_unread}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Unread Bookmark</string>
						<key>uid</key>
						<string>EED64F19-BE23-4767-8EEB-AB7DA5278BFC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>63BFE2ED-8406-43CD-8D9E-B92207F8F738</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:show_unread_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching bookmarks…</string>
				<key>script</key>
				<string>require "#{Dir.pwd}/pinplus.rb"

show_bookmarks(Unread_bookmarks_json)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Show Unread Bookmarks</string>
				<key>type</key>
				<integer>2</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>unread_bookmarks</string>
				<key>inputmode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FA9C9F80-EFDB-4A12-AA7A-DC5D0F76E557</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>is_unread</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BBA7D5B8-BDF1-4669-B928-461708E18DDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>700D9E72-F8D4-4DC2-8A5E-E78DD2A72A7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}</string>
					<key>use_finder</key>
					<false/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>D0C612E1-159B-4476-8920-0DCF4A15DAD8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>set bundleid to (system attribute "alfred_workflow_bundleid")

-- Flush caches
tell application id "com.runningwithcrayons.Alfred" to reload workflow bundleid

-- Reopen Script Filter which initiated the flush
if ((system attribute "is_unread") is "1") then
  set bookmarkstype to "unread_bookmarks"
else
  set bookmarkstype to "all_bookmarks"
end if

tell application id "com.runningwithcrayons.Alfred" to run trigger bookmarkstype in workflow bundleid</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7DF82435-3D0E-43E4-BF16-87752A30CB06</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>965BA49B-7AC1-43F3-8602-1F02FCC74695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string>%20</string>
				<key>url</key>
				<string>https://pinboard.in/search/u:{var:username}?query={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>17571892-E517-4940-8F74-0CAD55A5938D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:api_key}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E9EFBA2A-E725-4B63-8657-5389E9364274</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string> -</string>
				<key>replacestring</key>
				<string> </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>9768284A-74B9-40F3-95B1-F30F25B273CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:title}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>username</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4968ACBA-1F88-4B24-ADC5-458E87E049A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>:.*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>743EE796-A6F9-4AFF-BF52-0995A72025D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Add a new bookmark to your [Pinboard](https://pinboard.in) account via the `pa` keyword.

![Add bookmark](images/about/pa.png)

![Browser GUI to add bookmark](images/about/gui.png)

Search all bookmarks via the `pin` keyword or only the unread ones with `pun`. Actioning an unread bookmark can archive or delete it if the option is set in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/).

![Showing bookmarks matching alfr](images/about/pin.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Open URL.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Copy URL.
* &lt;kbd&gt;⌥&lt;/kbd&gt; View Tags.
* &lt;kbd&gt;⌃&lt;/kbd&gt; View Description.
* &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Search in Pinboard’s Website.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Force cache update.

Configure the [Hotkeys](https://www.alfredapp.com/help/workflows/triggers/hotkey/) as a shortcut to add bookmarks, add the current browser tab as an unread bookmark, or open a random unread bookmark.</string>
	<key>uidata</key>
	<dict>
		<key>0428362E-5C9C-4EB0-B5B2-470ABC9845E7</key>
		<dict>
			<key>note</key>
			<string>Run unread action</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>17571892-E517-4940-8F74-0CAD55A5938D</key>
		<dict>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>1075</real>
		</dict>
		<key>2B67AFF0-0412-4E9B-88CE-ADF345434F52</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>630</real>
		</dict>
		<key>312A5A83-445F-49A9-91E3-5E65184C33B9</key>
		<dict>
			<key>note</key>
			<string>Add frontmost tab as unread bookmark</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>348262A6-0298-49B4-A582-AF48C527E471</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>4968ACBA-1F88-4B24-ADC5-458E87E049A5</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>51173530-985F-468F-90DC-B37CC651F01A</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>63BFE2ED-8406-43CD-8D9E-B92207F8F738</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>6F415838-BBDD-460D-8389-C5292566442A</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>640</real>
		</dict>
		<key>700D9E72-F8D4-4DC2-8A5E-E78DD2A72A7A</key>
		<dict>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>830</real>
		</dict>
		<key>743EE796-A6F9-4AFF-BF52-0995A72025D9</key>
		<dict>
			<key>note</key>
			<string>Pinboard username from token</string>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>746C53B7-21CF-4B6D-8557-54523EA81DF4</key>
		<dict>
			<key>note</key>
			<string>Open GUI to add bookmark</string>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>7DF82435-3D0E-43E4-BF16-87752A30CB06</key>
		<dict>
			<key>note</key>
			<string>Flush cache</string>
			<key>xpos</key>
			<real>850</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>8DC58A3C-6774-4B9F-BC7D-0891C9A648F4</key>
		<dict>
			<key>note</key>
			<string>Add bookmark</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>9066848D-DBFB-4B04-954A-D0F998360A39</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>965BA49B-7AC1-43F3-8602-1F02FCC74695</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>9768284A-74B9-40F3-95B1-F30F25B273CD</key>
		<dict>
			<key>note</key>
			<string>Remove the " -" patterns which can be in titles but makes Pinboard ignore a word in search</string>
			<key>xpos</key>
			<real>890</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>A0E45AB0-74B7-4C7E-8A56-B6B4E0D84722</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>A47E38E8-87FB-42B7-A966-4CFC5B0798FF</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>BBA7D5B8-BDF1-4669-B928-461708E18DDF</key>
		<dict>
			<key>xpos</key>
			<real>260</real>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>BF585652-D2BD-4906-BEB9-0AC2A215899A</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>D0C612E1-159B-4476-8920-0DCF4A15DAD8</key>
		<dict>
			<key>xpos</key>
			<real>660</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>DC6DE0A7-2311-4F8C-A1A8-457DC074F1EA</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>E9EFBA2A-E725-4B63-8657-5389E9364274</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>1105</real>
		</dict>
		<key>EFCEA4B6-8BAA-4509-AD10-EDA3CF3DF3EB</key>
		<dict>
			<key>note</key>
			<string>Get random unread bookmark</string>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>F575A0BC-7BDD-44EE-828A-AD3B6F1E074B</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>FA9C9F80-EFDB-4A12-AA7A-DC5D0F76E557</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>760</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pa</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Add New Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>add_new_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pin</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Show All Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>show_all_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pun</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywords to interact with bookmarks.</string>
			<key>label</key>
			<string>Show Unread Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>show_unread_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>open_url</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>↩</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_none</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>copy_url</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌘</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_cmd</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>view_tags</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌥</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_alt</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>view_description</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>⌃</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_ctrl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pinboard_site</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open URL</string>
						<string>open_url</string>
					</array>
					<array>
						<string>Copy URL</string>
						<string>copy_url</string>
					</array>
					<array>
						<string>View Tags</string>
						<string>view_tags</string>
					</array>
					<array>
						<string>View Description</string>
						<string>view_description</string>
					</array>
					<array>
						<string>Open in Pinboard</string>
						<string>pinboard_site</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Actions to perform when pressing modifier keys.
Changes come into effect on next cache update.</string>
			<key>label</key>
			<string>⇧</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>mod_shift</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>nothing</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Nothing</string>
						<string>nothing</string>
					</array>
					<array>
						<string>Archive</string>
						<string>archive</string>
					</array>
					<array>
						<string>Delete</string>
						<string>delete</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Extra task to perform when actioning an unread bookmark.</string>
			<key>label</key>
			<string>Unread Action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>unread_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Sort Unread by Newest</string>
			</dict>
			<key>description</key>
			<string>How to organise bookmarks.</string>
			<key>label</key>
			<string>Sorting</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sort_unread_newest</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get it at https://pinboard.in/settings/password</string>
			<key>label</key>
			<string>API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
	</array>
	<key>version</key>
	<string>25.2</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/pin-plus-workflow/</string>
</dict>
</plist>
